<div class="main-container">
  <div class="content-container">
    <p class="app-name">Construction App</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        />

        <mat-error *ngIf="form.get('email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">
          Enter a <strong>valid email</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Enter your password"
          autocomplete="new-password"
        />

        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('password') && !form.get('password')?.hasError('required')">
          Enter a <strong>valid password</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Submit
      </button>
    </form>
  </div>
  <!-- <div class="form-container"></div>




  <p>sign-in works!</p>
  <button mat-Button="filled">Basic</button>


  <div style="margin: 20px;">
    <button mat-raised-button color="accent">Accent Button</button>
    <mat-card>
      <mat-card-title>Card Title</mat-card-title>
      <mat-card-content>This card uses the purple-green theme colors.</mat-card-content>
    </mat-card>
  </div>

  <button mat-button>Basic</button>
  <button mat-raised-button>Raised</button>
  <button mat-flat-button>Flat</button>
  <button mat-stroked-button>Stroked</button>
  <button mat-icon-button aria-label="Example icon button">
    <mat-icon>face</mat-icon>
  </button>
  <button mat-fab color="primary" aria-label="Example fab button">
    <mat-icon>add</mat-icon>
  </button>

  <div style="padding: 2rem; background: #eee;">
    <button mat-flat-button color="primary">Flat</button>
    <button mat-raised-button color="primary">Raised</button>
  </div> -->
</div>


