:host {
  .main-container {
    background-color: #0A4B39;
    height: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
  }

  .content-container {
    background-color: azure;
    margin: 150px 0px 150px 0px;
    width: 1000px;
    // place-items: center;
    // justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    border: 1px solid #434343;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .app-name {
    color: #434343;
    margin: 50px 0px 0px 0px;
    font-size: 30px;
  }

  mat-form-field.full-width {
    width: 100%;
  }


  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #434343;
  }

  input.mat-input-element {
    padding: 8px;
    border-radius: 4px;
  }

}

