<div class="job-layout">
  <!-- Left: Job List -->
  <div class="job-list">
    <div
      class="job-link"
      *ngFor="let job of filteredJobs()"
      (click)="navigateToJob(job)"
    >
      <div class="address">
        {{ job.address.street }}, {{ job.address.city }}, {{ job.address.state }}
        {{ job.address.zip }}
      </div>
      <div class="client-name">
        {{ job.clientName.firstName }} {{ job.clientName.lastName }}
      </div>
    </div>
  </div>

  <!-- Right: Toolbar -->
  <div class="job-toolbar">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search jobs</mat-label>
      <input
        matInput
        [(ngModel)]="searchTerm"
        placeholder="Enter client or address"
      />
    </mat-form-field>

    <button
      mat-raised-button
      routerLink="/enter-client-info"
      color="primary"
      class="create-job-btn"
      (click)="onCreateJob()"
    >
      Create Job
    </button>
  </div>
</div>
