@use '@angular/material' as mat;
@import './theme.css';


html, body { 
  height: 100%; 
  margin: 0;
  padding: 0;
  overflow: auto; // allows scrolling if needed
  display: flex;
  flex-direction: column;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body { font-size: 1.6rem; }

app-root {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
